{{!--<form id="form" method="post" {{action "saveNewTool" model.tool on="submit"}}>--}}
<div id="form">
  {{#power-select-with-create
    placeholder = "Type"
    options = model.dropdown.type
    selected = model.tool.type
    onchange=(action (mut model.tool.type))
    oncreate = (action (mut model.tool.type))
    showCreateWhen = (action 'hideCreateOptionOnSameName' 'type') as |type|
  }}
    {{type}}
  {{/power-select-with-create}}


  {{#power-select-with-create
    placeholder = "Brand"
    options = model.dropdown.brand
    selected = model.tool.brand
    onchange=(action (mut model.tool.brand))
    oncreate = (action (mut model.tool.brand))
    showCreateWhen = (action 'hideCreateOptionOnSameName' 'brand')as |brand|
  }}
    {{brand}}
  {{/power-select-with-create}}


  {{input type="text" name="modelnumber" class="text-field add" placeholder="Model Number" valueBinding=model.tool.modelnumber}}


  {{input type="text" name="serialnumber" class="text-field" placeholder="Serial Number" valueBinding=model.tool.serialnumber}}<hr>


  {{#power-select-with-create
    placeholder = "Provider"
    options = model.dropdown.provider
    selected = model.tool.provider
    onchange=(action (mut model.tool.provider))
    oncreate = (action (mut model.tool.provider))
    showCreateWhen = (action 'hideCreateOptionOnSameName' 'provider')as |provider|
  }}
    {{provider}}
  {{/power-select-with-create}}


  {{input placeholder="Price" name="price" class="text-field add"  id="price" type="text"  valueBinding=model.tool.price}}


  {{!--{{input type="text" class="text-field add" name="purchasedate" placeholder="Purchase Date" valueBinding=model.tool.purchasedate}}--}}
  {{pikaday-input placeholder="Purchase Date" format="MM/DD/YYYY" yearRange="2000,currentYear" onSelection=(action (mut model.tool.purchasedate))}}

  {{input type="text" name="year" class="text-field add" placeholder="Year of Manufacture" valueBinding=model.tool.year}}<hr>


  {{#power-select
    placeholder = "Status"
    options = model.dropdown.status
    selected = model.tool.status
    onchange=(action (mut model.tool.status))
    oncreate = (action (mut model.tool.status)) as |status|
  }}
    {{status}}
  {{/power-select}}


  {{#power-select
    placeholder = "Assignee"
    options = model.dropdown.user
    searchField = "username"
    selected = model.tool.userid
    onchange = (action (mut model.tool.userid))
    oncreate = (action (mut model.tool.userid)) as |assignee|
  }}
    {{assignee.username }}
  {{/power-select}}


  {{!--<button type="submit" style="margin: 20px;" class="go"> Add </button>--}}
  {{async-button action=(action "saveNewTool" model.tool) style="margin: 20px;" class="go" default="Add" pending="Saving..."}}
{{!--</form>--}}
</div>

{{yield}}