<div class="search-filters">
    {{select-dropdown
        dropdownClass="search-filter-dropdown"
        formName="status"
        headerName="Status"
        options=dropdown.status
        onUpdate=(action "updateFilters")
        selectedOption=query.status
    }}

    {{select-dropdown
        dropdownClass="search-filter-dropdown"
        formName="type"
        headerName="Type"
        options=dropdown.type
        onUpdate=(action "updateFilters")
        selectedOption=query.type
    }}

    {{select-dropdown
        dropdownClass="search-filter-dropdown"
        formName="owner"
        headerName="Owner"
        displayUsers=true
        options=userOptions
        onUpdate=(action "updateFilters")
        selectedOption=query.userID
    }}

    {{select-dropdown
        dropdownClass="search-filter-dropdown"
        formName="brand"
        headerName="Brand"
        options=dropdown.brand
        onUpdate=(action "updateFilters")
        selectedOption=query.brand
    }}
</div>

<div class="search-bar">
    {{input class="search-bar-input" placeholder="ToolID or Serial Number" value=fuzzySearchParams.parameter key-up="fuzzySearchDebounced"}}
</div>
