<div class="search-bar">
    {{select-dropdown
        formName="status"
        headerName="Status"
        options=model.dropdown.status
        onUpdate=(action "updateSearch")
        selectedOption=query.status
    }}

    {{select-dropdown
        formName="type"
        headerName="Type"
        options=model.dropdown.type
        onUpdate=(action "updateSearch")
        selectedOption=query.type
    }}

    {{select-dropdown
        formName="owner"
        headerName="Owner"
        displayUsers=true
        options=userOptions
        onUpdate=(action "updateSearch")
        selectedOption=query.userID
    }}

    {{select-dropdown
        formName="brand"
        headerName="Brand"
        options=model.dropdown.brand
        onUpdate=(action "updateSearch")
        selectedOption=query.brand
    }}
</div>


<div class="search-block">
    {{input class="search-box" placeholder="ToolID or Serial Number" key-up="fuzzySearch" }}
</div>
