<div class="search-filters">
    {{select-dropdown
        dropdownClass="search-filter-dropdown"
        formName="status"
        headerName="Status"
<<<<<<< HEAD
        options=dropdown.status
=======
        options=model.dropdown.status
>>>>>>> develop
        onUpdate=(action "updateFilters")
        selectedOption=query.status
    }}

    {{select-dropdown
        dropdownClass="search-filter-dropdown"
        formName="type"
        headerName="Type"
<<<<<<< HEAD
        options=dropdown.type
=======
        options=model.dropdown.type
>>>>>>> develop
        onUpdate=(action "updateFilters")
        selectedOption=query.type
    }}

    {{select-dropdown
        dropdownClass="search-filter-dropdown"
        formName="owner"
        headerName="Owner"
        displayUsers=true
<<<<<<< HEAD
        options=(get (await dropdown) userOption)
=======
        options=userOptions
>>>>>>> develop
        onUpdate=(action "updateFilters")
        selectedOption=query.userID
    }}

    {{select-dropdown
        dropdownClass="search-filter-dropdown"
        formName="brand"
        headerName="Brand"
<<<<<<< HEAD
        options=dropdown.brand
=======
        options=model.dropdown.brand
>>>>>>> develop
        onUpdate=(action "updateFilters")
        selectedOption=query.brand
    }}
</div>

<div class="search-bar">
    {{input class="search-bar-input" placeholder="ToolID or Serial Number" value=fuzzySearchParams.parameter key-up="fuzzySearchDebounced"}}
</div>
