<div id="form-container">
    <form id="form" method="post" {{action "saveNewTool" model.tool on="submit"}}>
        <div>
            <select id="type" name="type" class="dark-dropdown add">
                <option disabled selected hidden> Type </option>
                {{#each model.types.types as |type|}}
                <option value={{type}}> {{type}} </option>
                {{/each}}

            </select>

            <input id="custom-type" style="display: none;" type="text" class="text-field add" placeholder="Enter type" />

        </div>

        <div>
            <select id="brand" name = "brand" class="dark-dropdown add" {{action 'addCustomOptions' '#brand' '#custom-brand'}} >
                <option disabled selected hidden> Brand </option>
                {{#each model.brands.brands as |brand|}}
                <option value={{brand}}> {{brand}} </option>
                {{/each}}

                <option value='-1'>other</option>
            </select>

            <input id="custom-brand" name = "custombrand" style="display: none;" type="text" class="text-field add" placeholder=" Enter brand" />

        </div>

        {{input type="text" name="modelnumber" class="text-field add" placeholder="Model Number" value=model.tool.modelnumber}}

        {{input type="text" name="serialnumber" class="text-field" placeholder="Serial Number" value=model.tool.serialnumber}}<hr>

        <div>


            <select id="purchasedfrom" class="dark-dropdown add" {{action 'addCustomOptions' '#purchasedfrom' '#custom-purchasedfrom'}}>
                <option selected value=""> Purchased From </option>

                {{#each model.providers.providers as |provider|}}
                <option value={{provider}}> {{provider}} </option>
                {{/each}}

                <option value='-1'>other</option>
            </select>
        </div>

        <input id="custom-purchasedfrom" name="customprovider" style="display: none;" type="text" class="text-field add" placeholder="Enter purchased from" />

        {{input-money prefix='$' affixesStay=true type="tel" placeholder="Price" name="price" id="price" number=model.tool.price class="text-field add" allowEmpty=true allowDecimal=true}}

        {{pikaday-input maxDate=_maxdate theme="dark-theme" class="text-field add" readonly="readonly" id="purchase-date" placeholder="Purchase Date" format="MM/DD/YYYY" yearRange="1990,currentYear" onSelection=(action (mut model.tool.purchasedate))}}

        {{input type="tel" name="year" class="text-field add" placeholder="Year of Manufacture" value=model.tool.year}}<hr>

        <div>
            <select id="status" name="status" class="dark-dropdown add">
                <option disabled selected hidden> Status </option>
                {{#each model.status.status as |status|}}
                <option value={{status}}> {{status}} </option>
                {{/each}}
            </select>
        </div>

        <div>
            <select id="assignee" name="assignee" class="dark-dropdown add" >
                <option disabled selected hidden> Assign To </option>
                {{#each model.users.users as |user|}}
                <option value={{user.userid}}> {{user.username}} </option>
                {{/each}}
            </select>

        </div>

        <button type="submit" disabled={{isAddingTool}} style="margin: 20px;" class="go"> Add </button>

    </form>
</div>
