<form>
    <div>
        <select id="brand" class="dark-dropdown add">
            <option value=""> Brand </option>
            {{#each model.brands.brands as |brand|}}
              <option value={{brand}}> {{brand}} </option>
            {{/each}}
        </select>    
    </div>
	
	<div>
        <select id="purchasedfrom" class="dark-dropdown add">
            <option value=""> Purchased From </option>
            {{#each model.providers.stores as |provider|}}
              <option value={{provider}}> {{provider}} </option>
            {{/each}}
        </select>
    </div>
	
	<div>
        <select id="type" class="dark-dropdown add">
            <option value=""> Type </option>
            {{#each model.types.types as |type|}}
              <option value={{type}}> {{type}} </option>
            {{/each}}
        </select>
    </div>

    {{input placeholder="$ price" class="text-field add"  id="price" type="text"  valueBinding="model.tool.price"}}
    
    
    
    {{input type="text" class="text-field add" placeholder="Purchase Date" valueBinding="model.tool.purchasedate"}}
    
    
    
    {{input type="text" class="text-field add" placeholder="Model Number" valueBinding="model.tool.modelnumber"}}<br>
    
    <button style="margin-top: 20px;"{{action "saveNewTool" model.tool}} class="go"> add </button>
</form>
