<form>
    <div>
        <select id="brand" class="dark-dropdown">
            <option value=""> Brand </option>
            {{#each model.brands.brands as |brand|}}
              <option value={{brand}}> {{brand}} </option>
            {{/each}}
        </select>    
    </div>
	
	<div>
        <select id="purchasedfrom" class="dark-dropdown" >
            <option selected value=""> Purchased From </option>
            {{#each model.providers.providers as |provider|}}
              <option value={{provider}}> {{provider}} </option>
            {{/each}}
        </select>
    </div>
	
	<div>
        <select id="type" class="dark-dropdown">
            <option value=""> Type </option>
            {{#each model.types.types as |type|}}
              <option value={{type}}> {{type}} </option>
            {{/each}}
        </select>
    </div>

    {{input placeholder="$ price" class="text-field"  id="price" type="text"  valueBinding="model.tool.price"}}
    
    
    
    {{input type="text" class="text-field" placeholder="Purchase Date" valueBinding="model.tool.purchasedate"}}
    
    
    
    {{input type="text" class="text-field" placeholder="Model Number" valueBinding="model.tool.modelnumber"}}<br>
    
    {{input type="text" class="text-field" placeholder="Serial Number" valueBinding="model.tool.serialnumber"}}<br>
    
	<div>
        <select id="status" class="dark-dropdown" >
            <option selected value=""> Status </option>
            {{#each model.status.status as |status|}}
              <option value={{status}}> {{status}} </option>
            {{/each}}
        </select>
    </div>   
    
	<div>
        <select id="assignee" class="dark-dropdown" >
            <option selected value=""> Assign To </option>
            {{#each model.users.users as |user|}}
              <option value={{user.userid}}> {{user.username}} </option>
            {{/each}}
        </select>
    </div>       
    
    <button style="margin-top: 20px;"{{action "saveNewTool" model.tool}} class="go"> add </button>
</form>
