
{{#if isLoginRoute}}
    {{outlet}}
{{else}}

<header>
    <div class="container-fluid">
        {{#link-to "search" class="btn btn-default"}} 0 {{/link-to}}
        {{#link-to "add" class="btn btn-default"}} + {{/link-to}}
    </div>
    <div>
      {{#if session.isAuthenticated}}
        <a {{action 'invalidateSession'}}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
    </div>
</header>
<nav>
    <div class="container nav-cont">
        {{#link-to "transfer" class="nav-btn"}} Transfer {{/link-to}}
    </div>
    <div class="container nav-cont">
        {{#link-to "scan" class="nav-btn"}} Scan {{/link-to}}    
    </div>
    
        
    </nav>

<div id="screen-view">
    {{outlet}}
</div>

{{/if}}
