
{{#if isLoginRoute}}
    {{outlet}}
{{else}}

<header>
    <div id="titlebar" class="container-fluid">
		{{#link-to "add" class="icon-btn" id="add-icon"}}<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{/link-to}} 
        
        {{#link-to "search" class="icon-btn" id="search-icon"}}<span  class="glyphicon glyphicon-search" aria-hidden="true"></span>{{/link-to}} 
		
		{{#link-to "scan" class="icon-btn" id="tool-icon"}}<span  class="glyphicon glyphicon-wrench" aria-hidden="true"></span>{{/link-to}} 
        
		
        <div id="title">
            {{getHeaderText}}
        </div>

        {{#if session.isAuthenticated}}
            <a {{action 'invalidateSession'}} class="login-logout">Logout</a>
        {{else}}
            {{#link-to 'login' class="login-logout"}}Login{{/link-to}}
        {{/if}}        
        
    </div>
		
</header>
<nav></nav>

<div id="screen-view">
    <div class="container-fluid">
        {{outlet}}
    </div>    
</div>

{{/if}}
