<div id="specs">
	<div id="tool-title">
		 {{model.brand}} {{model.type}}
	</div>
	
	<div id="tool-details">
		{{model.id}}<br>
		{{model.ownerfirstname}}
		{{model.ownerlastname}}<br>
		{{model.datelastcheckout}}<br>
		{{model.purchasedate}}
	</div>
</div>

