<div id="specs">
	<div id="tool-title">
		 {{model.tools.data.attributes.brand}} {{model.tools.data.attributes.type}}
	</div>
	
	<div id="tool-details">
		{{model.tools.data.attributes.status}}<br>
		Tool ID: {{model.tools.data.id}}<br>
		Owner: {{model.tools.data.attributes.username}}<br>
		Last checked out: {{model.tools.data.attributes.datelastcheckout}}<br>
		Purchase date: {{model.tools.data.attributes.purchasedate}}<br>
		Serial number: {{model.tools.data.attributes.serialnumber}}
	</div>
	
	
	<div id="status-change-box">
		<select id="status" class="dark-dropdown ">
			<option value=""> Status </option>
			{{#each model.status.status as |status|}}
			  <option value={{status}}> {{status}} </option>
			{{/each}}
		</select>

		<button style="margin-top: 20px; font-size: 24px;" class="go" {{action 'updateStatus'}}> update status </button>
	</div>
</div>

