<div style="width:100%">
    <button class="back" onclick=window.history.back()>
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        back
    </button>
</div>

<div id="specs">
    <div id="tool-title">
        {{model.tool.brand}} {{model.tool.type}}
    </div>

    <div id="tool-details">
        {{model.tool.status}} <br>
        Tool ID: {{model.tool.id}}<br><br>

        Owner:<br>
        <i class="fa fa-user" aria-hidden="true"></i> {{model.tool.username}}<br>
        <a href="tel:{{model.tool.phonenumber}}"> <i class="fa fa-phone"
                                                     aria-hidden="true"></i> {{model.tool.phonenumber}}</a><br>
        <a href="mailto:{{model.tool.email}}"><i class="fa fa-envelope" aria-hidden="true"></i> {{model.tool.email}}</a><br><br>
        Model year: {{model.tool.year}} <br>
        Purchase date: {{model.tool.purchasedate}}<br>
        Serial number: {{model.tool.serialnumber}}<br>
        Model number: {{model.tool.modelnumber}}
    </div>

    {{#if ableToTransfer }}
        <div id="status-change-box">
            <select id="status" class="dark-dropdown">
                <option value=""> Status </option>
                {{#each dropdown.status as |status|}}
                    <option value={{status}}> {{status}} </option>
                {{/each}}
            </select>

            <button style="margin-top: 20px; font-size: 24px;" class="go" {{action "updateStatus" model.tool}}>
                Update Status
            </button>
        </div>
    {{/if}}


</div>
