<div style="width:100%">
    <button class="back" onclick=window.history.back()>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        back
    </button>
</div>

<div id="specs">
    <div id="tool-title">
        <span class="tool-brand"> {{model.brand}} </span>
        <span class="tool-type"> {{model.type}} </span>
    </div>

    <div id="tool-details">
        <span class="tool-status"> {{model.status}} </span>

        <div>
            <span> Tool ID: </span>
            <span class="tool-id"> {{model.id}} </span>
        </div>

        <div class="owner-info">
            <span> Owner: </span>

            <div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="tool-owner"> {{model.username}} </span>
            </div>

            <div>
                <a href="tel:{{model.phonenumber}}">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span class="tool-phonenumber"> {{model.phonenumber}} </span>
                </a>
            </div>

            <div>
                <a href="mailto:{{model.email}}">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="tool-owner-email"> {{model.email}} </span>
                </a>
            </div>
        </div>

        <div>
            <span> Model year: </span>
            <span class="tool-year"> {{model.year}} </span>
        </div>

        <div>
            <span> Purchase date: </span>
            <span class="tool-purchase-date"> {{model.purchasedate}} </span>
        </div>

        <div>
            <span> Serial number:</span>
            <span class="tool-serial-number"> {{model.serialnumber}} </span>
        </div>

        <div>
            <span> Model number: </span>
            <span class="tool-model-number"> {{model.modelnumber}} </span>
        </div>
    </div>

    {{#if ableToTransfer }}
        <div id="status-change-box">
            <select id="status" class="dark-dropdown">
                <option value=""> Status </option>
                {{#each dropdown.status as |status|}}
                    <option value={{status}}> {{status}} </option>
                {{/each}}
            </select>

            <button style="margin-top: 20px; font-size: 24px;" class="go" {{action "updateStatus" model}}>
                Update Status
            </button>
        </div>
    {{/if}}
</div>
