<div class="search-bar">
	<select class="search-parameter">
		<option value=""> Status </option>
		{{#each model.status as |status|}}
			<option value={{status}}>
				{{status}}
			</option>
		{{/each}}
	</select>
	
	<select class="search-parameter">
		<option>Type</option>
		{{#each model.types as |type|}}
			<option value={{type}}>
				{{type}}
			</option>
		{{/each}}
	</select>
</div>

<div id="tool-display-box">
{{#each model.tools as |tool|}}
	<div class="specs-box">
		<div class="facts">
			{{tool.brand}} 
			{{tool.type}}<br>
			{{tool.id}}<br>
			{{tool.ownerfirstname}} 
			{{tool.ownerlastname}}
		</div>
		
		<div class="options">
			{{#link-to 'info' tool.id}}more 
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
			{{/link-to}}<br>
            
			
			<button {{action 'addToList' tool.id}}>add to list
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</div>
	</div>
{{/each}}
</div>

<div id="menu">
	<div id="cart">
		<div id="list-title">
			Transfer List
		</div>

		<div id="list">
		</div>
	</div>
	<div id="cart-actions">
		<select id="user-to-transfer-to" class="dark-dropdown">
			<option value="">Transfer to</option>
			{{#each model.owners as |owner|}}
				<option value={{owner.id}}>
					{{owner.firstname}}
				</option>
			{{/each}}
		</select>
		
		<button {{action "transferTools"}} class="go" id="transfer-button">transfer</button>
	</div>
</div>


{{outlet}}
