<div class="search-bar">
	<select class="search-parameter">
		<option>Status</option>
	</select>
	
	<select class="search-parameter">
		<option>Owner</option>
	</select>
	
	<select class="search-parameter">
		<option>Type</option>
	</select>
</div>

{{#each model.tools as |tool|}}
	<div class="specs-box">
		<div class="facts">
			{{tool.brand}} 
			{{tool.type}}<br>
			{{tool.id}}<br>
			{{tool.ownerfirstname}} 
			{{tool.ownerlastname}}
		</div>
		
		<div class="options">
			
			
		</div>
	</div>
{{/each}}

{{outlet}}
