

<div class="search-bar">
	
	<select class="search-parameter">
		<option value=""> Status </option>
		{{#each model.status as |status|}}
			<option value={{status}}>
				{{status}}
			</option>
		{{/each}}
	</select>
	
	<select class="search-parameter">
		<option>Type</option>
		{{#each model.types as |type|}}
			<option value={{type}}>
				{{type}}
			</option>
		{{/each}}
	</select>
</div>

<div id="tool-display-box">
	<div class="search-block">
		<input class="search-box" placeholder="ToolID or Serial Number">
	</div>
{{#each model.tools as |tool|}}
	<div class="specs-box"> 
		<div class="tool-specs" {{action 'addToList' tool.id}}>
			<div class="title"> 
					{{tool.brand}} 
					{{tool.type}}<br>
			</div>
			
			<div class="facts">

				Tool ID: {{tool.id}}<br>
				Owner: {{tool.ownerfirstname}} 
				{{tool.ownerlastname}}
			</div>
		</div>
		
		<div class="options">
			{{#link-to 'info' tool.id}}
				<span class="glyphicon glyphicon-info-sign search-icon" aria-hidden="true"></span> 
			{{/link-to}}<br>
		</div>
		</div> 
	
{{/each}}
</div>

<div id="menu">
	<div id="cart">
		<div id="list-title">
			Transfer List
		</div>
		
		<hr style="margin: 0;">

		<div id="list">
		</div>
	</div>
	<div id="cart-actions">
		<select id="user-to-transfer-to" class="dark-dropdown">
			<option value="">transfer to:</option>
			{{#each model.owners as |owner|}}
				<option value={{owner.id}}>
					{{owner.firstname}}
				</option>
			{{/each}}
		</select>
		
		<button {{action "transferTools"}} class="go" id="transfer-button">transfer</button>
	</div>
</div>


{{outlet}}
