{{search-header
    dropdown=dropdown
    showSelectTools=showSelectTools
    query=query
    onFilterChange=(action "onFilterChange")
}}

<div id="tool-display-box">
    {{search-bar searchParameter=fuzzySearchParams.parameter onInput=(action "onFuzzySearch") usingFuzzySearch=usingFuzzySearch}}

    {{#if (is-pending tools)}}
        <i class="loading fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    {{else}}
        {{#each tools as |tool|}}
            {{tool-search-entry tool=tool onResultSelected=(action "addToList") displayOptions=true}}
        {{/each}}
    {{/if}}
</div>

<div class="cart-menu">
    <div class="cart">
        <div class="cart-header">
            <button class="fa fa-trash delete-icon clear-cart" aria-hidden="true" {{action "deleteToolList"}}></button>

            <div class="cart-title">
                Cart
            </div>
        </div>

        <div class="cart-list" class="{{if (and showErrorMessages (not (v-get this "transferInfo.toolids.length" "isValid"))) 'transfer-validation-error'}}">
            {{#each transferInfo.toolids as |tool|}}
                <div class="cart-item">
                    <button class="fa fa-times-circle delete-icon remove-tool" {{action "removeFromList" tool}}></button>
                    {{tool}}
                </div>
            {{/each}}
        </div>
    </div>
    <div class="cart-actions">
        <select class="dark-dropdown select-transferee cart-action {{if (and showErrorMessages (not (v-get this "transferInfo.userid" "isValid"))) "transfer-validation-error"}}" onchange={{action "updateTransferTo" value="target"}}>
            <option value=""> Transfer to </option>
            {{#each dropdown.user as |user|}}
                <option value={{user.userid}} selected={{eq user.userid transferInfo.userid}}>
                    {{user.username}}
                </option>
            {{/each}}
        </select>

        <button {{action "transferTools"}} class="go cart-action complete-transfer">
            Transfer
        </button>
    </div>
</div>
