<div class="search-bar">
	<select class="search-parameter search" id="status">
		<option value=""> Status </option>
		{{#each model.status as |status|}}
			<option value={{status}}>
				{{status}}
			</option>
		{{/each}}
	</select>
	
	<select class="search-parameter search" id="type">
		<option>Type</option>
		{{#each model.types as |type|}}
			<option value={{type}}>
				{{type}}
			</option>
		{{/each}}
	</select>
	
	<select class="search-parameter search" id="owner">
		<option>Owner</option>
		{{#each model.owners as |owner|}}
			<option value={{owner.id}}>
				{{owner.firstname}} {{owner.lastname}}
			</option>
		{{/each}}
	</select>
	
		<select class="search-parameter search" id="brand">
		<option>Brand</option>
		{{#each model.brands as |brand|}}
			<option value={{brand}}>
				{{brand}}
			</option>
		{{/each}}
	</select>
	
</div>

<div id="tool-display-box-full">
{{#each model.tools as |tool|}}
	<div class="specs-box">
		<div class="facts">
			{{tool.brand}} 
			{{tool.type}}<br>
			{{tool.id}}<br>
			{{tool.ownerfirstname}} 
			{{tool.ownerlastname}}
		</div>
		
		<div class="options">
			{{#link-to 'info' tool.id}}more 
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
			{{/link-to}}<br>
		</div>
	</div>
{{/each}}
</div>