{{search-header
    model=model
    showSelectTools=false
    query=query
    fuzzySearch=fuzzySearch
    updateSearch=(action "updateSearch")
}}

<div id="tool-display-box-full">
    {{#each model.tools.data as |tool|}}
        <div class="specs-box">
            {{#link-to "info" tool.id}}
                <div class="tool-specs">
                    <div class="title">
                        {{tool.attributes.brand}}
                        {{tool.attributes.type}}<br>
                    </div>

                    <div class="facts">
                        Tool ID: {{tool.id}} <br>
                        <span class="fa fa-user"></span> {{tool.attributes.username}}, {{tool.attributes.status}}
                    </div>
                </div>

                <div class="options">
                    <span class="fa fa-chevron-right search-icon" aria-hidden="true"></span>
                    <br>
                </div>
            {{/link-to}}
        </div>
    {{/each}}
</div>
