{{search-header
    dropdown=dropdown
    showSelectTools=false
    query=query
    fuzzySearchParams=fuzzySearchParams
    updateSearch=(action updateSearch)
}}

<div id="tool-display-box-full">
    {{#if (is-pending tools)}}
        <i class="loading fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    {{else}}
        {{#each tools as |tool|}}
            <div class="specs-box">
                {{#link-to "info" tool.id}}
                    <div class="tool-specs">
                        <div class="title">
                            {{tool.brand}}
                            {{tool.type}}<br>
                        </div>

                        <div class="facts">
                            Tool ID: {{tool.id}} <br>
                            <span class="fa fa-user"></span> {{tool.username}}, {{tool.status}}
                        </div>
                    </div>

                    <div class="options">
                        <span class="fa fa-chevron-right search-icon" aria-hidden="true"></span>
                        <br>
                    </div>
                {{/link-to}}
            </div>
        {{/each}}
    {{/if}}
</div>
