<div class="search-bar">
	<select class="search-parameter search">
		<option disabled selected hidden> Status </option>
		<option value=""> any status </option>
		{{#each model.status as |status|}}
			<option value={{status}}>
				{{status}}
			</option>
		{{/each}}
	</select>
	
	
	<select class="search-parameter search">
		<option disabled selected hidden>Type</option>
		<option value=""> any type</option>
		{{#each model.types as |type|}}
			<option value={{type}}>
				{{type}}
			</option>
		{{/each}}
	</select>
	
	<select class="search-parameter search">
		<option disabled selected hidden>Owner</option>
		<option value=""> any owner</option>
		{{#each model.owners as |owner|}}
			<option value={{owner.id}}>
				{{owner.firstname}} {{owner.lastname}}
			</option>
		{{/each}}
	</select>
</div>

<div id="tool-display-box-full">
	<div class="search-block">
		<input class="search-box" placeholder="ToolID or Serial Number">
	</div>
{{#each model.tools as |tool|}}
	<div class="specs-box"> {{#link-to 'info' tool.id}}
		<div class="tool-specs">
			<div class="title"> 
					{{tool.brand}} 
					{{tool.type}}<br>
			</div>
			
			<div class="facts">

				Tool ID: {{tool.id}}<br>
				Owner: {{tool.ownerfirstname}} 
				{{tool.ownerlastname}}
			</div>
		</div>
		
		<div class="options"> 
			<span class="glyphicon glyphicon-chevron-right search-icon" aria-hidden="true"></span> 
			<br>
		</div>
	{{/link-to}} </div>
{{/each}}
</div>

